.parent {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.child {
  text-align: center;
  width: 23%;
}

p {
  text-align: center;
}

img {
  width: 100%;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.price {
  font-weight: bold;
}

button {
  border-radius: 50%;
}

.favFalse {
  position: relative;
  color: white;
  width: 100px;
  height: 90px;
  left: 25%;
  top: -120px;
}

.favFalse:hover {
  color: red;
}
